@font-face{
	font-family: 'AlfaSlabOne-Regular';
	src:url('../fonts/AlfaSlabOne-Regular.ttf');
}

@font-face{
	font-family: 'Poppins-Bold';
	src:url('../fonts/Poppins-Bold.ttf');
}

@font-face{
	font-family: 'Poppins-Regular';
	src:url('../fonts/Poppins-Regular.ttf');
}

body{
	font-family: Poppins-Regular;
}

h1,h2,h3,h4,h5,h6{
	font-family:  'Poppins-Bold';
}